<div class="shadow p-4 border">
  <div class="flex justify-between ">
    <h3 class="text-xl font-semibold">User Data</h3>
    <button mat-raised-button color="primary" routerLink="/users/add">Add User</button>
  </div>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Age</th>
      <th>Address</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
      @for (user of users; track $index) {
      <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.address }}</td>
        <td>
          <button mat-raised-button color="accent" class="mr-4">Edit</button>
          <button mat-raised-button color="warn">Delete</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
